Web References/PMS_Master/PMS_Master.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RoleRetrieve">
        <s:complexType />
      </s:element>
      <s:element name="RoleRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RoleRetrieveResult" type="tns:ArrayOfRole" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRole">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Role">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RowNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RoleId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RoleSave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="role" type="tns:Role" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RoleSaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RoleSaveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RoleDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="role" type="tns:Role" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RoleDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RoleDeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginRetrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="log" type="tns:Login" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Login">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RoleId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginRetrieveResult" type="tns:Login" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ForgotPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fp" type="tns:ForgotPassword" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ForgotPassword">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ForgotPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ForgotPasswordResult" type="tns:ForgotPassword" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ForgotPasswordCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strId" type="tns:ChangePassword" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChangePassword">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ForgotPasswordCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ForgotPasswordCheckResult" type="tns:ChangePassword" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cp" type="tns:ChangePassword" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePasswordResult" type="tns:ChangePassword" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SchemeRetrieve">
        <s:complexType />
      </s:element>
      <s:element name="SchemeRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SchemeRetrieveResult" type="tns:ArrayOfScheme" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfScheme">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Scheme" nillable="true" type="tns:Scheme" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Scheme">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SchemeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SchemeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LogUserId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SchemeSave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Scheme" type="tns:Scheme" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SchemeSaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SchemeSaveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SchemeDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Scheme" type="tns:Scheme" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SchemeDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SchemeDeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRetrieve">
        <s:complexType />
      </s:element>
      <s:element name="UserRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserRetrieveResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RoleId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Designation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActiveText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SchemeMapping" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SchemeMappingActive" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LogUserId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserSave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserSaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserSaveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserCheckResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserEmailCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserEmailCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserEmailCheckResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RoleAccessRetrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="roleAccess" type="tns:RoleAccess" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RoleAccess">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RoleId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MenuId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MenuName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ViewVisible" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SaveVisible" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteVisible" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ReminderVisible" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ViewChecked" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SaveChecked" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteChecked" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ReminderChecked" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleAccessData" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LogUserId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RoleAccessRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RoleAccessRetrieveResult" type="tns:ArrayOfRoleAccess" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRoleAccess">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RoleAccess" nillable="true" type="tns:RoleAccess" />
        </s:sequence>
      </s:complexType>
      <s:element name="RoleAccessSave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="roleAccess" type="tns:RoleAccess" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RoleAccessSaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RoleAccessSaveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RoleMenuRetrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intRoleId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strMenuCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RoleMenuRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RoleMenuRetrieveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RoleAccess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ra" type="tns:RoleAccess" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RoleAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RoleAccessResult" type="tns:RoleAccess" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VaccinationRetrieve">
        <s:complexType />
      </s:element>
      <s:element name="VaccinationRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VaccinationRetrieveResult" type="tns:ArrayOfVaccination" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVaccination">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Vaccination" nillable="true" type="tns:Vaccination" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Vaccination">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RowNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VaccinationId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="VaccinationName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FirstDose" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NextDose" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="VaccinationSave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vac" type="tns:Vaccination" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VaccinationSaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VaccinationSaveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VaccinationDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vac" type="tns:Vaccination" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VaccinationDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VaccinationDeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BreedRetrieve">
        <s:complexType />
      </s:element>
      <s:element name="BreedRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BreedRetrieveResult" type="tns:ArrayOfBreed" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBreed">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Breed" nillable="true" type="tns:Breed" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Breed">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BreedId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BreedName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SchemeMapping" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SchemeMappingActive" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LogUserId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="BreedSave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="breed" type="tns:Breed" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BreedSaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BreedSaveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BreedDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="breed" type="tns:Breed" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BreedDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BreedDeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShedRetrieve">
        <s:complexType />
      </s:element>
      <s:element name="ShedRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShedRetrieveResult" type="tns:ArrayOfShed" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfShed">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Shed" nillable="true" type="tns:Shed" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Shed">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ShedId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ShedPenId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ShedName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Length" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Breadth" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PenId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NoOfPens" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PenNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PenLength" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PenBreadth" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PenHeight" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LogUserId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ShedPens" type="tns:ArrayOfShed" />
          <s:element minOccurs="0" maxOccurs="1" name="PenData" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ShedSave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shed" type="tns:Shed" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShedSaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ShedSaveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShedDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shed" type="tns:Shed" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShedDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ShedDeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PenDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shed" type="tns:Shed" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PenDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PenDeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
      <s:element name="ArrayOfScheme" nillable="true" type="tns:ArrayOfScheme" />
      <s:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfVaccination" nillable="true" type="tns:ArrayOfVaccination" />
      <s:element name="ArrayOfBreed" nillable="true" type="tns:ArrayOfBreed" />
      <s:element name="ArrayOfShed" nillable="true" type="tns:ArrayOfShed" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RoleRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:RoleRetrieve" />
  </wsdl:message>
  <wsdl:message name="RoleRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:RoleRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="RoleSaveSoapIn">
    <wsdl:part name="parameters" element="tns:RoleSave" />
  </wsdl:message>
  <wsdl:message name="RoleSaveSoapOut">
    <wsdl:part name="parameters" element="tns:RoleSaveResponse" />
  </wsdl:message>
  <wsdl:message name="RoleDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:RoleDelete" />
  </wsdl:message>
  <wsdl:message name="RoleDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:RoleDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="LoginRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:LoginRetrieve" />
  </wsdl:message>
  <wsdl:message name="LoginRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:LoginRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="ForgotPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ForgotPassword" />
  </wsdl:message>
  <wsdl:message name="ForgotPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ForgotPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ForgotPasswordCheckSoapIn">
    <wsdl:part name="parameters" element="tns:ForgotPasswordCheck" />
  </wsdl:message>
  <wsdl:message name="ForgotPasswordCheckSoapOut">
    <wsdl:part name="parameters" element="tns:ForgotPasswordCheckResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="SchemeRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:SchemeRetrieve" />
  </wsdl:message>
  <wsdl:message name="SchemeRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:SchemeRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="SchemeSaveSoapIn">
    <wsdl:part name="parameters" element="tns:SchemeSave" />
  </wsdl:message>
  <wsdl:message name="SchemeSaveSoapOut">
    <wsdl:part name="parameters" element="tns:SchemeSaveResponse" />
  </wsdl:message>
  <wsdl:message name="SchemeDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SchemeDelete" />
  </wsdl:message>
  <wsdl:message name="SchemeDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SchemeDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="UserRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:UserRetrieve" />
  </wsdl:message>
  <wsdl:message name="UserRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:UserRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="UserSaveSoapIn">
    <wsdl:part name="parameters" element="tns:UserSave" />
  </wsdl:message>
  <wsdl:message name="UserSaveSoapOut">
    <wsdl:part name="parameters" element="tns:UserSaveResponse" />
  </wsdl:message>
  <wsdl:message name="UserCheckSoapIn">
    <wsdl:part name="parameters" element="tns:UserCheck" />
  </wsdl:message>
  <wsdl:message name="UserCheckSoapOut">
    <wsdl:part name="parameters" element="tns:UserCheckResponse" />
  </wsdl:message>
  <wsdl:message name="UserEmailCheckSoapIn">
    <wsdl:part name="parameters" element="tns:UserEmailCheck" />
  </wsdl:message>
  <wsdl:message name="UserEmailCheckSoapOut">
    <wsdl:part name="parameters" element="tns:UserEmailCheckResponse" />
  </wsdl:message>
  <wsdl:message name="RoleAccessRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:RoleAccessRetrieve" />
  </wsdl:message>
  <wsdl:message name="RoleAccessRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:RoleAccessRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="RoleAccessSaveSoapIn">
    <wsdl:part name="parameters" element="tns:RoleAccessSave" />
  </wsdl:message>
  <wsdl:message name="RoleAccessSaveSoapOut">
    <wsdl:part name="parameters" element="tns:RoleAccessSaveResponse" />
  </wsdl:message>
  <wsdl:message name="RoleMenuRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:RoleMenuRetrieve" />
  </wsdl:message>
  <wsdl:message name="RoleMenuRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:RoleMenuRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="RoleAccessSoapIn">
    <wsdl:part name="parameters" element="tns:RoleAccess" />
  </wsdl:message>
  <wsdl:message name="RoleAccessSoapOut">
    <wsdl:part name="parameters" element="tns:RoleAccessResponse" />
  </wsdl:message>
  <wsdl:message name="VaccinationRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:VaccinationRetrieve" />
  </wsdl:message>
  <wsdl:message name="VaccinationRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:VaccinationRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="VaccinationSaveSoapIn">
    <wsdl:part name="parameters" element="tns:VaccinationSave" />
  </wsdl:message>
  <wsdl:message name="VaccinationSaveSoapOut">
    <wsdl:part name="parameters" element="tns:VaccinationSaveResponse" />
  </wsdl:message>
  <wsdl:message name="VaccinationDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:VaccinationDelete" />
  </wsdl:message>
  <wsdl:message name="VaccinationDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:VaccinationDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="BreedRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:BreedRetrieve" />
  </wsdl:message>
  <wsdl:message name="BreedRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:BreedRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="BreedSaveSoapIn">
    <wsdl:part name="parameters" element="tns:BreedSave" />
  </wsdl:message>
  <wsdl:message name="BreedSaveSoapOut">
    <wsdl:part name="parameters" element="tns:BreedSaveResponse" />
  </wsdl:message>
  <wsdl:message name="BreedDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:BreedDelete" />
  </wsdl:message>
  <wsdl:message name="BreedDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:BreedDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ShedRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:ShedRetrieve" />
  </wsdl:message>
  <wsdl:message name="ShedRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:ShedRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="ShedSaveSoapIn">
    <wsdl:part name="parameters" element="tns:ShedSave" />
  </wsdl:message>
  <wsdl:message name="ShedSaveSoapOut">
    <wsdl:part name="parameters" element="tns:ShedSaveResponse" />
  </wsdl:message>
  <wsdl:message name="ShedDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:ShedDelete" />
  </wsdl:message>
  <wsdl:message name="ShedDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:ShedDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="PenDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:PenDelete" />
  </wsdl:message>
  <wsdl:message name="PenDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:PenDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="RoleRetrieveHttpGetIn" />
  <wsdl:message name="RoleRetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfRole" />
  </wsdl:message>
  <wsdl:message name="SchemeRetrieveHttpGetIn" />
  <wsdl:message name="SchemeRetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfScheme" />
  </wsdl:message>
  <wsdl:message name="UserRetrieveHttpGetIn" />
  <wsdl:message name="UserRetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfUser" />
  </wsdl:message>
  <wsdl:message name="RoleMenuRetrieveHttpGetIn">
    <wsdl:part name="intRoleId" type="s:string" />
    <wsdl:part name="strMenuCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RoleMenuRetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="VaccinationRetrieveHttpGetIn" />
  <wsdl:message name="VaccinationRetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfVaccination" />
  </wsdl:message>
  <wsdl:message name="BreedRetrieveHttpGetIn" />
  <wsdl:message name="BreedRetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfBreed" />
  </wsdl:message>
  <wsdl:message name="ShedRetrieveHttpGetIn" />
  <wsdl:message name="ShedRetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfShed" />
  </wsdl:message>
  <wsdl:message name="RoleRetrieveHttpPostIn" />
  <wsdl:message name="RoleRetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfRole" />
  </wsdl:message>
  <wsdl:message name="SchemeRetrieveHttpPostIn" />
  <wsdl:message name="SchemeRetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfScheme" />
  </wsdl:message>
  <wsdl:message name="UserRetrieveHttpPostIn" />
  <wsdl:message name="UserRetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfUser" />
  </wsdl:message>
  <wsdl:message name="RoleMenuRetrieveHttpPostIn">
    <wsdl:part name="intRoleId" type="s:string" />
    <wsdl:part name="strMenuCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RoleMenuRetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="VaccinationRetrieveHttpPostIn" />
  <wsdl:message name="VaccinationRetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfVaccination" />
  </wsdl:message>
  <wsdl:message name="BreedRetrieveHttpPostIn" />
  <wsdl:message name="BreedRetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfBreed" />
  </wsdl:message>
  <wsdl:message name="ShedRetrieveHttpPostIn" />
  <wsdl:message name="ShedRetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfShed" />
  </wsdl:message>
  <wsdl:portType name="PMS_MasterSoap">
    <wsdl:operation name="RoleRetrieve">
      <wsdl:input message="tns:RoleRetrieveSoapIn" />
      <wsdl:output message="tns:RoleRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RoleSave">
      <wsdl:input message="tns:RoleSaveSoapIn" />
      <wsdl:output message="tns:RoleSaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RoleDelete">
      <wsdl:input message="tns:RoleDeleteSoapIn" />
      <wsdl:output message="tns:RoleDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginRetrieve">
      <wsdl:input message="tns:LoginRetrieveSoapIn" />
      <wsdl:output message="tns:LoginRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <wsdl:input message="tns:ForgotPasswordSoapIn" />
      <wsdl:output message="tns:ForgotPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ForgotPasswordCheck">
      <wsdl:input message="tns:ForgotPasswordCheckSoapIn" />
      <wsdl:output message="tns:ForgotPasswordCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SchemeRetrieve">
      <wsdl:input message="tns:SchemeRetrieveSoapIn" />
      <wsdl:output message="tns:SchemeRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SchemeSave">
      <wsdl:input message="tns:SchemeSaveSoapIn" />
      <wsdl:output message="tns:SchemeSaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SchemeDelete">
      <wsdl:input message="tns:SchemeDeleteSoapIn" />
      <wsdl:output message="tns:SchemeDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRetrieve">
      <wsdl:input message="tns:UserRetrieveSoapIn" />
      <wsdl:output message="tns:UserRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserSave">
      <wsdl:input message="tns:UserSaveSoapIn" />
      <wsdl:output message="tns:UserSaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCheck">
      <wsdl:input message="tns:UserCheckSoapIn" />
      <wsdl:output message="tns:UserCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserEmailCheck">
      <wsdl:input message="tns:UserEmailCheckSoapIn" />
      <wsdl:output message="tns:UserEmailCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RoleAccessRetrieve">
      <wsdl:input message="tns:RoleAccessRetrieveSoapIn" />
      <wsdl:output message="tns:RoleAccessRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RoleAccessSave">
      <wsdl:input message="tns:RoleAccessSaveSoapIn" />
      <wsdl:output message="tns:RoleAccessSaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RoleMenuRetrieve">
      <wsdl:input message="tns:RoleMenuRetrieveSoapIn" />
      <wsdl:output message="tns:RoleMenuRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RoleAccess">
      <wsdl:input message="tns:RoleAccessSoapIn" />
      <wsdl:output message="tns:RoleAccessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VaccinationRetrieve">
      <wsdl:input message="tns:VaccinationRetrieveSoapIn" />
      <wsdl:output message="tns:VaccinationRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VaccinationSave">
      <wsdl:input message="tns:VaccinationSaveSoapIn" />
      <wsdl:output message="tns:VaccinationSaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VaccinationDelete">
      <wsdl:input message="tns:VaccinationDeleteSoapIn" />
      <wsdl:output message="tns:VaccinationDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BreedRetrieve">
      <wsdl:input message="tns:BreedRetrieveSoapIn" />
      <wsdl:output message="tns:BreedRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BreedSave">
      <wsdl:input message="tns:BreedSaveSoapIn" />
      <wsdl:output message="tns:BreedSaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BreedDelete">
      <wsdl:input message="tns:BreedDeleteSoapIn" />
      <wsdl:output message="tns:BreedDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShedRetrieve">
      <wsdl:input message="tns:ShedRetrieveSoapIn" />
      <wsdl:output message="tns:ShedRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShedSave">
      <wsdl:input message="tns:ShedSaveSoapIn" />
      <wsdl:output message="tns:ShedSaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShedDelete">
      <wsdl:input message="tns:ShedDeleteSoapIn" />
      <wsdl:output message="tns:ShedDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PenDelete">
      <wsdl:input message="tns:PenDeleteSoapIn" />
      <wsdl:output message="tns:PenDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PMS_MasterHttpGet">
    <wsdl:operation name="RoleRetrieve">
      <wsdl:input message="tns:RoleRetrieveHttpGetIn" />
      <wsdl:output message="tns:RoleRetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SchemeRetrieve">
      <wsdl:input message="tns:SchemeRetrieveHttpGetIn" />
      <wsdl:output message="tns:SchemeRetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRetrieve">
      <wsdl:input message="tns:UserRetrieveHttpGetIn" />
      <wsdl:output message="tns:UserRetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RoleMenuRetrieve">
      <wsdl:input message="tns:RoleMenuRetrieveHttpGetIn" />
      <wsdl:output message="tns:RoleMenuRetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="VaccinationRetrieve">
      <wsdl:input message="tns:VaccinationRetrieveHttpGetIn" />
      <wsdl:output message="tns:VaccinationRetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BreedRetrieve">
      <wsdl:input message="tns:BreedRetrieveHttpGetIn" />
      <wsdl:output message="tns:BreedRetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ShedRetrieve">
      <wsdl:input message="tns:ShedRetrieveHttpGetIn" />
      <wsdl:output message="tns:ShedRetrieveHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PMS_MasterHttpPost">
    <wsdl:operation name="RoleRetrieve">
      <wsdl:input message="tns:RoleRetrieveHttpPostIn" />
      <wsdl:output message="tns:RoleRetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SchemeRetrieve">
      <wsdl:input message="tns:SchemeRetrieveHttpPostIn" />
      <wsdl:output message="tns:SchemeRetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRetrieve">
      <wsdl:input message="tns:UserRetrieveHttpPostIn" />
      <wsdl:output message="tns:UserRetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RoleMenuRetrieve">
      <wsdl:input message="tns:RoleMenuRetrieveHttpPostIn" />
      <wsdl:output message="tns:RoleMenuRetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="VaccinationRetrieve">
      <wsdl:input message="tns:VaccinationRetrieveHttpPostIn" />
      <wsdl:output message="tns:VaccinationRetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BreedRetrieve">
      <wsdl:input message="tns:BreedRetrieveHttpPostIn" />
      <wsdl:output message="tns:BreedRetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ShedRetrieve">
      <wsdl:input message="tns:ShedRetrieveHttpPostIn" />
      <wsdl:output message="tns:ShedRetrieveHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PMS_MasterSoap" type="tns:PMS_MasterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RoleRetrieve">
      <soap:operation soapAction="http://tempuri.org/RoleRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleSave">
      <soap:operation soapAction="http://tempuri.org/RoleSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleDelete">
      <soap:operation soapAction="http://tempuri.org/RoleDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginRetrieve">
      <soap:operation soapAction="http://tempuri.org/LoginRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <soap:operation soapAction="http://tempuri.org/ForgotPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotPasswordCheck">
      <soap:operation soapAction="http://tempuri.org/ForgotPasswordCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchemeRetrieve">
      <soap:operation soapAction="http://tempuri.org/SchemeRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchemeSave">
      <soap:operation soapAction="http://tempuri.org/SchemeSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchemeDelete">
      <soap:operation soapAction="http://tempuri.org/SchemeDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRetrieve">
      <soap:operation soapAction="http://tempuri.org/UserRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSave">
      <soap:operation soapAction="http://tempuri.org/UserSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCheck">
      <soap:operation soapAction="http://tempuri.org/UserCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserEmailCheck">
      <soap:operation soapAction="http://tempuri.org/UserEmailCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleAccessRetrieve">
      <soap:operation soapAction="http://tempuri.org/RoleAccessRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleAccessSave">
      <soap:operation soapAction="http://tempuri.org/RoleAccessSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleMenuRetrieve">
      <soap:operation soapAction="http://tempuri.org/RoleMenuRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleAccess">
      <soap:operation soapAction="http://tempuri.org/RoleAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VaccinationRetrieve">
      <soap:operation soapAction="http://tempuri.org/VaccinationRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VaccinationSave">
      <soap:operation soapAction="http://tempuri.org/VaccinationSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VaccinationDelete">
      <soap:operation soapAction="http://tempuri.org/VaccinationDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BreedRetrieve">
      <soap:operation soapAction="http://tempuri.org/BreedRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BreedSave">
      <soap:operation soapAction="http://tempuri.org/BreedSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BreedDelete">
      <soap:operation soapAction="http://tempuri.org/BreedDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShedRetrieve">
      <soap:operation soapAction="http://tempuri.org/ShedRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShedSave">
      <soap:operation soapAction="http://tempuri.org/ShedSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShedDelete">
      <soap:operation soapAction="http://tempuri.org/ShedDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PenDelete">
      <soap:operation soapAction="http://tempuri.org/PenDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PMS_MasterSoap12" type="tns:PMS_MasterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RoleRetrieve">
      <soap12:operation soapAction="http://tempuri.org/RoleRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleSave">
      <soap12:operation soapAction="http://tempuri.org/RoleSave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleDelete">
      <soap12:operation soapAction="http://tempuri.org/RoleDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginRetrieve">
      <soap12:operation soapAction="http://tempuri.org/LoginRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <soap12:operation soapAction="http://tempuri.org/ForgotPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotPasswordCheck">
      <soap12:operation soapAction="http://tempuri.org/ForgotPasswordCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchemeRetrieve">
      <soap12:operation soapAction="http://tempuri.org/SchemeRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchemeSave">
      <soap12:operation soapAction="http://tempuri.org/SchemeSave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchemeDelete">
      <soap12:operation soapAction="http://tempuri.org/SchemeDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRetrieve">
      <soap12:operation soapAction="http://tempuri.org/UserRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSave">
      <soap12:operation soapAction="http://tempuri.org/UserSave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCheck">
      <soap12:operation soapAction="http://tempuri.org/UserCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserEmailCheck">
      <soap12:operation soapAction="http://tempuri.org/UserEmailCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleAccessRetrieve">
      <soap12:operation soapAction="http://tempuri.org/RoleAccessRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleAccessSave">
      <soap12:operation soapAction="http://tempuri.org/RoleAccessSave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleMenuRetrieve">
      <soap12:operation soapAction="http://tempuri.org/RoleMenuRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleAccess">
      <soap12:operation soapAction="http://tempuri.org/RoleAccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VaccinationRetrieve">
      <soap12:operation soapAction="http://tempuri.org/VaccinationRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VaccinationSave">
      <soap12:operation soapAction="http://tempuri.org/VaccinationSave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VaccinationDelete">
      <soap12:operation soapAction="http://tempuri.org/VaccinationDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BreedRetrieve">
      <soap12:operation soapAction="http://tempuri.org/BreedRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BreedSave">
      <soap12:operation soapAction="http://tempuri.org/BreedSave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BreedDelete">
      <soap12:operation soapAction="http://tempuri.org/BreedDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShedRetrieve">
      <soap12:operation soapAction="http://tempuri.org/ShedRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShedSave">
      <soap12:operation soapAction="http://tempuri.org/ShedSave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShedDelete">
      <soap12:operation soapAction="http://tempuri.org/ShedDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PenDelete">
      <soap12:operation soapAction="http://tempuri.org/PenDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PMS_MasterHttpGet" type="tns:PMS_MasterHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RoleRetrieve">
      <http:operation location="/RoleRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchemeRetrieve">
      <http:operation location="/SchemeRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRetrieve">
      <http:operation location="/UserRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleMenuRetrieve">
      <http:operation location="/RoleMenuRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VaccinationRetrieve">
      <http:operation location="/VaccinationRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BreedRetrieve">
      <http:operation location="/BreedRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShedRetrieve">
      <http:operation location="/ShedRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PMS_MasterHttpPost" type="tns:PMS_MasterHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="RoleRetrieve">
      <http:operation location="/RoleRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchemeRetrieve">
      <http:operation location="/SchemeRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRetrieve">
      <http:operation location="/UserRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleMenuRetrieve">
      <http:operation location="/RoleMenuRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VaccinationRetrieve">
      <http:operation location="/VaccinationRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BreedRetrieve">
      <http:operation location="/BreedRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShedRetrieve">
      <http:operation location="/ShedRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PMS_Master">
    <wsdl:port name="PMS_MasterSoap" binding="tns:PMS_MasterSoap">
      <soap:address location="http://localhost:5631/PMS_Master.asmx" />
    </wsdl:port>
    <wsdl:port name="PMS_MasterSoap12" binding="tns:PMS_MasterSoap12">
      <soap12:address location="http://localhost:5631/PMS_Master.asmx" />
    </wsdl:port>
    <wsdl:port name="PMS_MasterHttpGet" binding="tns:PMS_MasterHttpGet">
      <http:address location="http://localhost:5631/PMS_Master.asmx" />
    </wsdl:port>
    <wsdl:port name="PMS_MasterHttpPost" binding="tns:PMS_MasterHttpPost">
      <http:address location="http://localhost:5631/PMS_Master.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>