Web References/PMS_Entries/PMS_Entries.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PigDetailRetrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTagno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PigDetailRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PigDetailRetrieveResult" type="tns:PigDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PigDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Tagno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SchemeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SchemeName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BreedId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BreedName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DOB" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BirthWeight" nillable="true" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Color" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sireno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Damno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ShedId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ShedName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PenId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Penno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Generation" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PeriodSeason" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NoofTeats" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TeatsType" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CastRated" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CastRatedDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Stage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SexualMaturityDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SexualMaturityWeight" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SexualMaturityAge" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstServiceDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FirstServiceWeight" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="FirstServiceAge" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="PigDetailSave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pd" type="tns:PigDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PigDetailSaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PigDetailSaveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MatingDetailRetrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTagno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MatingDetailRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MatingDetailRetrieveResult" type="tns:ArrayOfMatingDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMatingDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MatingDetail" nillable="true" type="tns:MatingDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MatingDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Tagno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SexualMaturityDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SexualMaturityWeight" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SexualMaturityAge" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstServiceDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FirstServiceWeight" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="FirstServiceAge" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MatingId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="MatingDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sireno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Damno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Boarno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MatingStatusId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MatingStatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="MatingDetailSave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="md" type="tns:MatingDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MatingDetailSaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MatingDetailSaveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MatingSave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="md" type="tns:MatingDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MatingSaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MatingSaveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MatingRetrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTagno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MatingRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MatingRetrieveResult" type="tns:FarrowingDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FarrowingDetail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FarrowingId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Sowno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MatingId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="MatingDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Boarno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FarrowingDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SBM" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SBF" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SBT" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LSBM" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LSBF" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LSBT" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LWBM" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LWBF" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LWBT" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BreedId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Breed" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Generation" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Piglets" type="tns:ArrayOfFarrowingDetail" />
          <s:element minOccurs="0" maxOccurs="1" name="PigletsData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tagno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BirthWeight" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Color" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NoofTeats" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TeatsType" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Reult" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFarrowingDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FarrowingDetail" nillable="true" type="tns:FarrowingDetail" />
        </s:sequence>
      </s:complexType>
      <s:element name="FarrowingDetailRetrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTagno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FarrowingDetailRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FarrowingDetailRetrieveResult" type="tns:ArrayOfFarrowingDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FarrowingDetailSave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fd" type="tns:FarrowingDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FarrowingDetailSaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FarrowingDetailSaveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WeaningDetailRetrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTagNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WeaningDetailRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WeaningDetailRetrieveResult" type="tns:ArrayOfWeaningDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWeaningDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WeaningDetail" nillable="true" type="tns:WeaningDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WeaningDetail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="WeaningId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TagNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MatingDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FarrowingDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WeaningDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BoarNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BirthWeight" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="WeaningWeight" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ShedName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PenNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PenId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ShedId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="WeaningPigletsDetailRetrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTagNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WeaningPigletsDetailRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WeaningPigletsDetailRetrieveResult" type="tns:ArrayOfWeaningDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PigDetail" nillable="true" type="tns:PigDetail" />
      <s:element name="ArrayOfMatingDetail" nillable="true" type="tns:ArrayOfMatingDetail" />
      <s:element name="FarrowingDetail" nillable="true" type="tns:FarrowingDetail" />
      <s:element name="ArrayOfFarrowingDetail" nillable="true" type="tns:ArrayOfFarrowingDetail" />
      <s:element name="ArrayOfWeaningDetail" nillable="true" type="tns:ArrayOfWeaningDetail" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PigDetailRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:PigDetailRetrieve" />
  </wsdl:message>
  <wsdl:message name="PigDetailRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:PigDetailRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="PigDetailSaveSoapIn">
    <wsdl:part name="parameters" element="tns:PigDetailSave" />
  </wsdl:message>
  <wsdl:message name="PigDetailSaveSoapOut">
    <wsdl:part name="parameters" element="tns:PigDetailSaveResponse" />
  </wsdl:message>
  <wsdl:message name="MatingDetailRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:MatingDetailRetrieve" />
  </wsdl:message>
  <wsdl:message name="MatingDetailRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:MatingDetailRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="MatingDetailSaveSoapIn">
    <wsdl:part name="parameters" element="tns:MatingDetailSave" />
  </wsdl:message>
  <wsdl:message name="MatingDetailSaveSoapOut">
    <wsdl:part name="parameters" element="tns:MatingDetailSaveResponse" />
  </wsdl:message>
  <wsdl:message name="MatingSaveSoapIn">
    <wsdl:part name="parameters" element="tns:MatingSave" />
  </wsdl:message>
  <wsdl:message name="MatingSaveSoapOut">
    <wsdl:part name="parameters" element="tns:MatingSaveResponse" />
  </wsdl:message>
  <wsdl:message name="MatingRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:MatingRetrieve" />
  </wsdl:message>
  <wsdl:message name="MatingRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:MatingRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="FarrowingDetailRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:FarrowingDetailRetrieve" />
  </wsdl:message>
  <wsdl:message name="FarrowingDetailRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:FarrowingDetailRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="FarrowingDetailSaveSoapIn">
    <wsdl:part name="parameters" element="tns:FarrowingDetailSave" />
  </wsdl:message>
  <wsdl:message name="FarrowingDetailSaveSoapOut">
    <wsdl:part name="parameters" element="tns:FarrowingDetailSaveResponse" />
  </wsdl:message>
  <wsdl:message name="WeaningDetailRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:WeaningDetailRetrieve" />
  </wsdl:message>
  <wsdl:message name="WeaningDetailRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:WeaningDetailRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="WeaningPigletsDetailRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:WeaningPigletsDetailRetrieve" />
  </wsdl:message>
  <wsdl:message name="WeaningPigletsDetailRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:WeaningPigletsDetailRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="PigDetailRetrieveHttpGetIn">
    <wsdl:part name="strTagno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PigDetailRetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:PigDetail" />
  </wsdl:message>
  <wsdl:message name="MatingDetailRetrieveHttpGetIn">
    <wsdl:part name="strTagno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MatingDetailRetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfMatingDetail" />
  </wsdl:message>
  <wsdl:message name="MatingRetrieveHttpGetIn">
    <wsdl:part name="strTagno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MatingRetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:FarrowingDetail" />
  </wsdl:message>
  <wsdl:message name="FarrowingDetailRetrieveHttpGetIn">
    <wsdl:part name="strTagno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FarrowingDetailRetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfFarrowingDetail" />
  </wsdl:message>
  <wsdl:message name="WeaningDetailRetrieveHttpGetIn">
    <wsdl:part name="strTagNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WeaningDetailRetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfWeaningDetail" />
  </wsdl:message>
  <wsdl:message name="WeaningPigletsDetailRetrieveHttpGetIn">
    <wsdl:part name="strTagNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WeaningPigletsDetailRetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfWeaningDetail" />
  </wsdl:message>
  <wsdl:message name="PigDetailRetrieveHttpPostIn">
    <wsdl:part name="strTagno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PigDetailRetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:PigDetail" />
  </wsdl:message>
  <wsdl:message name="MatingDetailRetrieveHttpPostIn">
    <wsdl:part name="strTagno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MatingDetailRetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfMatingDetail" />
  </wsdl:message>
  <wsdl:message name="MatingRetrieveHttpPostIn">
    <wsdl:part name="strTagno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MatingRetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:FarrowingDetail" />
  </wsdl:message>
  <wsdl:message name="FarrowingDetailRetrieveHttpPostIn">
    <wsdl:part name="strTagno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FarrowingDetailRetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfFarrowingDetail" />
  </wsdl:message>
  <wsdl:message name="WeaningDetailRetrieveHttpPostIn">
    <wsdl:part name="strTagNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WeaningDetailRetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfWeaningDetail" />
  </wsdl:message>
  <wsdl:message name="WeaningPigletsDetailRetrieveHttpPostIn">
    <wsdl:part name="strTagNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WeaningPigletsDetailRetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfWeaningDetail" />
  </wsdl:message>
  <wsdl:portType name="PMS_EntriesSoap">
    <wsdl:operation name="PigDetailRetrieve">
      <wsdl:input message="tns:PigDetailRetrieveSoapIn" />
      <wsdl:output message="tns:PigDetailRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PigDetailSave">
      <wsdl:input message="tns:PigDetailSaveSoapIn" />
      <wsdl:output message="tns:PigDetailSaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MatingDetailRetrieve">
      <wsdl:input message="tns:MatingDetailRetrieveSoapIn" />
      <wsdl:output message="tns:MatingDetailRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MatingDetailSave">
      <wsdl:input message="tns:MatingDetailSaveSoapIn" />
      <wsdl:output message="tns:MatingDetailSaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MatingSave">
      <wsdl:input message="tns:MatingSaveSoapIn" />
      <wsdl:output message="tns:MatingSaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MatingRetrieve">
      <wsdl:input message="tns:MatingRetrieveSoapIn" />
      <wsdl:output message="tns:MatingRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FarrowingDetailRetrieve">
      <wsdl:input message="tns:FarrowingDetailRetrieveSoapIn" />
      <wsdl:output message="tns:FarrowingDetailRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FarrowingDetailSave">
      <wsdl:input message="tns:FarrowingDetailSaveSoapIn" />
      <wsdl:output message="tns:FarrowingDetailSaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WeaningDetailRetrieve">
      <wsdl:input message="tns:WeaningDetailRetrieveSoapIn" />
      <wsdl:output message="tns:WeaningDetailRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WeaningPigletsDetailRetrieve">
      <wsdl:input message="tns:WeaningPigletsDetailRetrieveSoapIn" />
      <wsdl:output message="tns:WeaningPigletsDetailRetrieveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PMS_EntriesHttpGet">
    <wsdl:operation name="PigDetailRetrieve">
      <wsdl:input message="tns:PigDetailRetrieveHttpGetIn" />
      <wsdl:output message="tns:PigDetailRetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MatingDetailRetrieve">
      <wsdl:input message="tns:MatingDetailRetrieveHttpGetIn" />
      <wsdl:output message="tns:MatingDetailRetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MatingRetrieve">
      <wsdl:input message="tns:MatingRetrieveHttpGetIn" />
      <wsdl:output message="tns:MatingRetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FarrowingDetailRetrieve">
      <wsdl:input message="tns:FarrowingDetailRetrieveHttpGetIn" />
      <wsdl:output message="tns:FarrowingDetailRetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WeaningDetailRetrieve">
      <wsdl:input message="tns:WeaningDetailRetrieveHttpGetIn" />
      <wsdl:output message="tns:WeaningDetailRetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WeaningPigletsDetailRetrieve">
      <wsdl:input message="tns:WeaningPigletsDetailRetrieveHttpGetIn" />
      <wsdl:output message="tns:WeaningPigletsDetailRetrieveHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PMS_EntriesHttpPost">
    <wsdl:operation name="PigDetailRetrieve">
      <wsdl:input message="tns:PigDetailRetrieveHttpPostIn" />
      <wsdl:output message="tns:PigDetailRetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MatingDetailRetrieve">
      <wsdl:input message="tns:MatingDetailRetrieveHttpPostIn" />
      <wsdl:output message="tns:MatingDetailRetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MatingRetrieve">
      <wsdl:input message="tns:MatingRetrieveHttpPostIn" />
      <wsdl:output message="tns:MatingRetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FarrowingDetailRetrieve">
      <wsdl:input message="tns:FarrowingDetailRetrieveHttpPostIn" />
      <wsdl:output message="tns:FarrowingDetailRetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WeaningDetailRetrieve">
      <wsdl:input message="tns:WeaningDetailRetrieveHttpPostIn" />
      <wsdl:output message="tns:WeaningDetailRetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WeaningPigletsDetailRetrieve">
      <wsdl:input message="tns:WeaningPigletsDetailRetrieveHttpPostIn" />
      <wsdl:output message="tns:WeaningPigletsDetailRetrieveHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PMS_EntriesSoap" type="tns:PMS_EntriesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PigDetailRetrieve">
      <soap:operation soapAction="http://tempuri.org/PigDetailRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PigDetailSave">
      <soap:operation soapAction="http://tempuri.org/PigDetailSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatingDetailRetrieve">
      <soap:operation soapAction="http://tempuri.org/MatingDetailRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatingDetailSave">
      <soap:operation soapAction="http://tempuri.org/MatingDetailSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatingSave">
      <soap:operation soapAction="http://tempuri.org/MatingSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatingRetrieve">
      <soap:operation soapAction="http://tempuri.org/MatingRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FarrowingDetailRetrieve">
      <soap:operation soapAction="http://tempuri.org/FarrowingDetailRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FarrowingDetailSave">
      <soap:operation soapAction="http://tempuri.org/FarrowingDetailSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WeaningDetailRetrieve">
      <soap:operation soapAction="http://tempuri.org/WeaningDetailRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WeaningPigletsDetailRetrieve">
      <soap:operation soapAction="http://tempuri.org/WeaningPigletsDetailRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PMS_EntriesSoap12" type="tns:PMS_EntriesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PigDetailRetrieve">
      <soap12:operation soapAction="http://tempuri.org/PigDetailRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PigDetailSave">
      <soap12:operation soapAction="http://tempuri.org/PigDetailSave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatingDetailRetrieve">
      <soap12:operation soapAction="http://tempuri.org/MatingDetailRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatingDetailSave">
      <soap12:operation soapAction="http://tempuri.org/MatingDetailSave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatingSave">
      <soap12:operation soapAction="http://tempuri.org/MatingSave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatingRetrieve">
      <soap12:operation soapAction="http://tempuri.org/MatingRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FarrowingDetailRetrieve">
      <soap12:operation soapAction="http://tempuri.org/FarrowingDetailRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FarrowingDetailSave">
      <soap12:operation soapAction="http://tempuri.org/FarrowingDetailSave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WeaningDetailRetrieve">
      <soap12:operation soapAction="http://tempuri.org/WeaningDetailRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WeaningPigletsDetailRetrieve">
      <soap12:operation soapAction="http://tempuri.org/WeaningPigletsDetailRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PMS_EntriesHttpGet" type="tns:PMS_EntriesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="PigDetailRetrieve">
      <http:operation location="/PigDetailRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatingDetailRetrieve">
      <http:operation location="/MatingDetailRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatingRetrieve">
      <http:operation location="/MatingRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FarrowingDetailRetrieve">
      <http:operation location="/FarrowingDetailRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WeaningDetailRetrieve">
      <http:operation location="/WeaningDetailRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WeaningPigletsDetailRetrieve">
      <http:operation location="/WeaningPigletsDetailRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PMS_EntriesHttpPost" type="tns:PMS_EntriesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="PigDetailRetrieve">
      <http:operation location="/PigDetailRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatingDetailRetrieve">
      <http:operation location="/MatingDetailRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatingRetrieve">
      <http:operation location="/MatingRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FarrowingDetailRetrieve">
      <http:operation location="/FarrowingDetailRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WeaningDetailRetrieve">
      <http:operation location="/WeaningDetailRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WeaningPigletsDetailRetrieve">
      <http:operation location="/WeaningPigletsDetailRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PMS_Entries">
    <wsdl:port name="PMS_EntriesSoap" binding="tns:PMS_EntriesSoap">
      <soap:address location="http://localhost:5631/PMS_Entries.asmx" />
    </wsdl:port>
    <wsdl:port name="PMS_EntriesSoap12" binding="tns:PMS_EntriesSoap12">
      <soap12:address location="http://localhost:5631/PMS_Entries.asmx" />
    </wsdl:port>
    <wsdl:port name="PMS_EntriesHttpGet" binding="tns:PMS_EntriesHttpGet">
      <http:address location="http://localhost:5631/PMS_Entries.asmx" />
    </wsdl:port>
    <wsdl:port name="PMS_EntriesHttpPost" binding="tns:PMS_EntriesHttpPost">
      <http:address location="http://localhost:5631/PMS_Entries.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>